doctype html
html(lang='en')
	meta(charset="UTF-8")
	-
		var meta = [
			{author: 'Bolarinwa Olakunle'},
			{rating: 'General'},
			{description: 'Tasty and visual icons free for developers and UI'},
			{copyright: 'Joberror, ©️ 2020'},
			{viewport: 'width=device-width, initial-scale=1.0'},
			{'theme-color': '#141414'},
			{'msapplication-navbutton-color': '#141414'},
			{'apple-mobile-web-app-capable': 'yes'},
			{'apple-mobile-web-app-status-bar-style': 'black-translucent'}
		];

	each key in meta
		each content, handle in key
			meta(name= handle, content= content)

	title Visual Icons
	base(href='/')
	link(rel="dns-prefetch", href="//fonts.googleapis.com")
	link(rel="dns-prefetch", href="//storage.googleapis.com")
	link(rel="preconnect", href="//fonts.googleapis.com")
	link(rel="preconnect", href="//storage.googleapis.com")
	link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Overpass+Mono:wght@300;400;600;700&display=swap')
	link(rel='stylesheet', href='dist/main.min.css')

	body(data-theme='default')
		nav
			ul
				li.logo VISUAL#[em ICONS] #[span]
				li.ver 1.0
				li.social
					ul.license
						li #[a(href='', title='Licensed by Creative Commons 3.0') CC-3.0]
					ul.github
						li #[a(href='', title='Tweet this project') .Tweet]
						li #[a(href='', title='Keep the project alive by donating') .Donate]
						li #[a(href='', title='Star this project on GitHub for awareness') .Star]
				li.dl
					a(href='', title='Github → Download') #[svg(data-url='assets/misc/svg/download.svg')]

		section.project-desc
			h1 #[em Tasty SVG] Icons #[em for] #[br] Web Developers #[em &] UI
			p MIXED . CATEGORIZED . COMPRESSED

		script(type='module').
			import { svgLoader as svg } from '/dist/main.min.js';
			// initiate svg module
			svg.init();