-
  var meta = [
    {author: 'Bolarinwa Olakunle'},
    {rating: 'General'},
    {description: 'Tasty and visual icons free for developers and UI'},
    {copyright: 'Joberror, ©️ 2020'},
    {viewport: 'width=device-width, initial-scale=1.0'},
    {'theme-color': '#141414'},
    {'msapplication-navbutton-color': '#141414'},
    {'apple-mobile-web-app-capable': 'yes'},
    {'apple-mobile-web-app-status-bar-style': 'black-translucent'}
  ];

  var link = [
    {'dns-prefetch': '//fonts.googleapis.com'},
    {'dns-prefetch': '//storage.googleapis.com'},
    {preconnect: '//fonts.googleapis.com"'},
    {'preconnect': '//storage.googleapis.com'},
    {stylesheet: 'https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Overpass+Mono:wght@300;400;600;700&display=swap'},
    {stylesheet: 'dist/main.min.css'}
  ]

  var all = [
    'media/1080P.svg', 
    'media/2K.svg', 
    'media/320P.svg', 
    'media/480P.svg', 
    'media/4K.svg', 
    'media/720P.svg', 
    'media/8K.svg', 
    'media/a-b.svg', 
    'media/playlist-add.svg', 
    'misc/add.svg', 
    'media/adjust.svg', 
    'media/album.svg', 
    'apps/apps.svg', 
    'misc/arrow-down.svg', 
    'misc/arrow-left.svg', 
    'misc/arrow-right.svg', 
    'misc/arrow-up.svg', 
    'brands/atm-card.svg', 
    'apps/audition.svg', 
    'brands/avatar.svg', 
    'brands/badge.svg', 
    'devices/battery-charging.svg', 
    'devices/battery-empty.svg', 
    'devices/battery-error.svg', 
    'devices/battery-full.svg', 
    'devices/battery.svg', 
    'fashion/beach-short.svg', 
    'misc/bell.svg', 
    'misc/binoculars.svg', 
    'media/black-edges.svg', 
    'devices/bluetooth.svg', 
    'misc/bottle.svg', 
    'media/brightness.svg', 
    'misc/bulb.svg', 
    'misc/calc.svg', 
    'misc/calendar.svg', 
    'social/call.svg', 
    'devices/camera-2.svg', 
    'devices/camera-3.svg', 
    'devices/camera.svg', 
    'media/capture.svg', 
    'weather/celsius.svg', 
    'devices/charger.svg', 
    'misc/circuit.svg', 
    'misc/clip.svg', 
    'media/cloud-play.svg', 
    'misc/code.svg', 
    'misc/cog-2.svg', 
    'misc/cog.svg', 
    'media/collections.svg', 
    'misc/compass.svg', 
    'media/compress.svg', 
    'devices/computer-old.svg', 
    'media/contrast.svg', 
    'misc/country.svg', 
    'media/crop.svg', 
    'media/disc.svg', 
    'social/dislike-2.svg', 
    'social/dislike.svg', 
    'misc/divide.svg', 
    'media/dock-2.svg', 
    'media/dock.svg', 
    'files/document.svg', 
    'media/dolby.svg', 
    'misc/download.svg', 
    'brands/dribbble.svg', 
    'devices/earpiece.svg', 
    'misc/edit.svg', 
    'misc/text-edit.svg', 
    'media/eject.svg', 
    'apps/emby.svg', 
    'misc/emoji.svg', 
    'media/equalizer.svg', 
    'media/extract.svg', 
    'misc/eye.svg', 
    'social/facebook.svg', 
    'weather/fahrenheit.svg', 
    'media/fast-forward.svg', 
    'media/fast-rewind.svg', 
    'media/fhd.svg', 
    'files/file-audio.svg', 
    'files/file-docx.svg', 
    'misc/file-lang.svg', 
    'files/file-ppt.svg', 
    'files/file-video.svg', 
    'files/file-xls.svg', 
    'files/file.svg', 
    'misc/profile.svg', 
    'misc/filter - 2.svg', 
    'media/filter.svg', 
    'misc/filter.svg', 
    'media/filter.svg', 
    'misc/filter.svg', 
    'misc/flag.svg', 
    'misc/flash-line.svg', 
    'misc/flash.svg', 
    'media/frames.svg', 
    'media/fullscreen.svg', 
    'misc/gears-2.svg', 
    'misc/gears.svg', 
    'social/gift-box.svg', 
    'brands/google.svg', 
    'apps/groove.svg', 
    'misc/guard-full-line.svg', 
    'misc/guard-full.svg', 
    'misc/guard-line.svg', 
    'misc/guard.svg', 
    'media/h264-mpeg-4-avc.svg', 
    'media/h264.svg', 
    'media/mpeg-h264.svg', 
    'media/fhd.svg', 
    'media/hd.svg', 
    'media/uhd.svg', 
    'devices/hdd.svg', 
    'misc/health.svg', 
    'media/hevc-mpeg-h265.svg', 
    'media/hevc.svg', 
    'media/hsl.svg', 
    'brands/id-card.svg', 
    'apps/illustrator.svg', 
    'media/image.svg', 
    'apps/indesign.svg', 
    'social/instagram.svg', 
    'misc/keyboard.svg', 
    'apps/kodi.svg', 
    'misc/label.svg', 
    'social/dislike-2.svg', 
    'social/like-2.svg', 
    'social/dislike.svg', 
    'social/like.svg', 
    'misc/location.svg', 
    'media/lyrics.svg', 
    'brands/mac-os.svg', 
    'social/mail-2.svg', 
    'social/mail.svg', 
    'media/manager.svg', 
    'media/media-convert.svg', 
    'media/menu.svg', 
    'social/message.svg', 
    'devices/mic.svg', 
    'media/mpeg-4-avc.svg', 
    'media/mpeg-h264.svg', 
    'media/hevc-mpeg-h265.svg', 
    'media/mpeg-h265.svg', 
    'media/mpeg-h266.svg', 
    'misc/multiply.svg', 
    'media/music-library.svg', 
    'media/noise.svg', 
    'misc/null.svg', 
    'misc/padlock-line.svg', 
    'misc/padlock.svg', 
    'media/pause.svg', 
    'misc/percent.svg', 
    'apps/photoshop.svg', 
    'apps/phpstorm.svg', 
    'misc/plane.svg', 
    'media/cloud-play.svg', 
    'media/play.svg', 
    'media/replay.svg', 
    'media/tv-play.svg', 
    'media/playlist-add.svg', 
    'media/playlist.svg', 
    'apps/plex.svg', 
    'devices/plug.svg', 
    'devices/pod.svg', 
    'misc/profile.svg', 
    'misc/pull-down.svg', 
    'misc/pull-up.svg', 
    'devices/radio.svg', 
    'media/record.svg', 
    'media/screen-record.svg', 
    'misc/redo.svg', 
    'devices/remote.svg', 
    'media/replay-custom.svg', 
    'media/replay.svg', 
    'media/resize-2.svg', 
    'media/resize.svg', 
    'media/resolution.svg', 
    'media/ringtone.svg', 
    'media/rotate.svg', 
    'misc/ruler.svg', 
    'misc/save.svg', 
    'media/scenes.svg', 
    'media/screen-cast.svg', 
    'media/screen-record.svg', 
    'misc/search-2.svg', 
    'misc/search.svg', 
    'media/seek-bar.svg', 
    'social/share.svg', 
    'media/shuffle.svg', 
    'media/shutter.svg', 
    'media/skip-back.svg', 
    'media/skip-forward.svg', 
    'misc/slash.svg', 
    'misc/sleep.svg', 
    'media/slides.svg', 
    'fashion/slippers.svg', 
    'media/split-tone.svg', 
    'brands/stackoverflow.svg', 
    'misc/stadium.svg', 
    'misc/stop-fill.svg', 
    'misc/stop-line.svg', 
    'media/stop.svg', 
    'brands/store.svg', 
    'media/studio.svg', 
    'media/subscribe.svg', 
    'media/subtitle.svg', 
    'misc/subtract.svg', 
    'media/surround.svg', 
    'misc/switch-off.svg', 
    'misc/switch.svg', 
    'media/sync.svg', 
    'social/tag.svg', 
    'misc/terminal.svg', 
    'misc/text-edit.svg', 
    'misc/text-editor.svg', 
    'media/theme-rect.svg', 
    'media/theme.svg', 
    'brands/ticket.svg', 
    'media/ringtone.svg', 
    'media/split-tone.svg', 
    'media/tone.svg', 
    'misc/tools.svg', 
    'media/track-list.svg', 
    'media/track-queue.svg', 
    'media/tracks.svg', 
    'media/tv-play.svg', 
    'devices/tv.svg', 
    'social/twitter.svg', 
    'media/uhd.svg', 
    'misc/umbrella.svg', 
    'misc/undo.svg', 
    'misc/vent.svg', 
    'media/video-library.svg', 
    'media/video-stream.svg', 
    'files/file-video.svg', 
    'media/video.svg', 
    'misc/view-a-z.svg', 
    'misc/view-category.svg', 
    'misc/view-content.svg', 
    'misc/view-list.svg', 
    'misc/view-z-a.svg', 
    'media/vignette.svg', 
    'apps/vlc.svg', 
    'media/volume-mute.svg', 
    'media/volume.svg', 
    'fashion/wallet.svg', 
    'misc/waste-bin.svg', 
    'weather/weather-rain.svg', 
    'weather/weather-sunny.svg', 
    'weather/weather-thunder.svg', 
    'weather/weather.svg', 
    'misc/web.svg', 
    'apps/webstorm.svg', 
    'media/white-balance.svg', 
    'misc/window-out.svg', 
    'media/zoom.svg'
  ] 