-
  var meta = [
    {author: 'Bolarinwa Olakunle'},
    {rating: 'General'},
    {description: 'Tasty and visual icons free for developers and UI'},
    {copyright: 'Joberror, ©️ 2020'},
    {viewport: 'width=device-width, initial-scale=1.0'},
    {'theme-color': '#141414'},
    {'msapplication-navbutton-color': '#141414'},
    {'apple-mobile-web-app-capable': 'yes'},
    {'apple-mobile-web-app-status-bar-style': 'black-translucent'}
  ];

  var link = [
    {'dns-prefetch': '//fonts.googleapis.com'},
    {'dns-prefetch': '//storage.googleapis.com'},
    {preconnect: '//fonts.googleapis.com"'},
    {'preconnect': '//storage.googleapis.com'},
    {stylesheet: 'https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Overpass+Mono:wght@300;400;600;700&display=swap'},
    {stylesheet: 'dist/main.min.css'}
  ]

  var apps = [
    'apps.svg',
    'audition.svg',
    'emby.svg',
    'groove.svg',
    'illustrator.svg',
    'indesign.svg',
    'kodi.svg',
    'photoshop.svg',
    'phpstorm.svg',
    'plex.svg',
    'vlc.svg',
    'webstorm.svg'
  ];

  var brands = [
    'ATM-card.svg',
    'avatar.svg',
    'badge.svg',
    'dribbble.svg',
    'google.svg',
    'id-card.svg',
    'mac-os.svg',
    'stackoverflow.svg',
    'store.svg',
    'ticket.svg'
  ];

  var devices = [
    'battery.svg',
    'battery-charging.svg',
    'battery-empty.svg',
    'battery-error.svg',
    'battery-full.svg',
    'bluetooth.svg',
    'camera-2.svg',
    'camera-3.svg',
    'camera.svg',
    'charger.svg',
    'computer-old.svg',
    'earpiece.svg',
    'hdd.svg',
    'mic.svg',
    'plug.svg',
    'pod.svg',
    'radio.svg',
    'remote.svg',
    'tv.svg'
  ];

  var fashion = [
    'beach-short.svg', 'slippers.svg', 'wallet.svg'
  ];

  var files = [
    'document.svg',
    'file-audio.svg',
    'file-docx.svg',
    'file-ppt.svg',
    'file-video.svg',
    'file-xls.svg',
    'file.svg'
  ];

  var media = [
    '1080P.svg',
    '2K.svg',
    '320P.svg',
    '480P.svg',
    '4K.svg',
    '720P.svg',
    '8K.svg',
    'AB.svg',
    'adjust.svg',
    'album.svg',
    'black-edges.svg',
    'brightness.svg',
    'capture.svg',
    'cloud-play.svg',
    'collections.svg',
    'compress.svg',
    'contrast.svg',
    'crop.svg',
    'disc.svg',
    'dock-2.svg',
    'dock.svg',
    'dolby.svg',
    'eject.svg',
    'equalizer.svg',
    'extract.svg',
    'fast-forward.svg',
    'fast-rewind.svg',
    'FHD.svg',
    'filter.svg',
    'frames.svg',
    'fullscreen.svg',
    'H264-MPEG-4-AVC.svg',
    'H264.svg',
    'HD.svg',
    'HEVC-MPEG-H265.svg',
    'HEVC.svg',
    'HSL.svg',
    'image.svg',
    'lyrics.svg',
    'manager.svg',
    'media-convert.svg',
    'menu.svg',
    'MPEG-4-AVC.svg',
    'MPEG-H265.svg',
    'MPEG-H264.svg',
    'MPEG-H266.svg',
    'music-library.svg',
    'noise.svg',
    'pause.svg',
    'play.svg',
    'playlist.svg',
    'playlist-add.svg',
    'record.svg',
    'replay-custom.svg',
    'replay.svg',
    'resize-2.svg',
    'resize.svg',
    'resolution.svg',
    'ringtone.svg',
    'rotate.svg',
    'scenes.svg',
    'screen-cast.svg',
    'screen-record.svg',
    'seek-bar.svg',
    'shuffle.svg',
    'shutter.svg',
    'skip-back.svg',
    'skip-forward.svg',
    'slides.svg',
    'split-tone.svg',
    'stop.svg',
    'studio.svg',
    'subscribe.svg',
    'subtitle.svg',
    'surround.svg',
    'sync.svg',
    'theme-rect.svg',
    'theme.svg',
    'tone.svg',
    'track-queue.svg',
    'track-list.svg',
    'tracks.svg',
    'tv-play.svg',
    'UHD.svg',
    'video-library.svg',
    'video-stream.svg',
    'video.svg',
    'vignette.svg',
    'volume-mute.svg',
    'volume.svg',
    'white-balance.svg',
    'zoom.svg'
  ];

  var misc = [
    'add.svg',
    'arrow-down.svg',
    'arrow-left.svg',
    'arrow-right.svg',
    'arrow-up.svg',
    'bell.svg',
    'binoculars.svg',
    'bottle.svg',
    'bulb.svg',
    'calc.svg',
    'calendar.svg',
    'circuit.svg',
    'clip.svg',
    'code.svg',
    'cog-2.svg',
    'cog.svg',
    'compass.svg',
    'country.svg',
    'divide.svg',
    'download.svg',
    'edit.svg',
    'emoji.svg',
    'eye.svg',
    'file-lang.svg',
    'filter - 2.svg',
    'filter.svg',
    'flag.svg',
    'flash-line.svg',
    'flash.svg',
    'gears-2.svg',
    'gears.svg',
    'guard-full-line.svg',
    'guard-full.svg',
    'guard-line.svg',
    'guard.svg',
    'health.svg',
    'keyboard.svg',
    'label.svg',
    'location.svg',
    'multiply.svg',
    'null.svg',
    'padlock-line.svg',
    'padlock.svg',
    'percent.svg',
    'plane.svg',
    'profile.svg',
    'pull-down.svg',
    'pull-up.svg',
    'redo.svg',
    'ruler.svg',
    'save.svg',
    'search-2.svg',
    'search.svg',
    'slash.svg',
    'sleep.svg',
    'stadium.svg',
    'stop-fill.svg',
    'stop-line.svg',
    'subtract.svg',
    'Switch - right.svg',
    'Switch.svg',
    'terminal.svg',
    'text-edit.svg',
    'text-editor.svg',
    'tools.svg',
    'umbrella.svg',
    'undo.svg',
    'vent.svg',
    'view-a-z.svg',
    'view-category.svg',
    'view-content.svg',
    'view-list.svg',
    'view-z-a.svg',
    'waste-bin.svg',
    'web.svg',
    'window-out.svg'
  ];

  var social = [
    'call.svg',
    'dislike 2.svg',
    'dislike.svg',
    'facebook.svg',
    'gift-box.svg',
    'instagram.svg',
    'like 2.svg',
    'like.svg',
    'mail-2.svg',
    'mail.svg',
    'message.svg',
    'share.svg',
    'TAG.svg',
    'twitter.svg'
  ];

  var weather = [
    'celsius.svg',
    'fahrenheit.svg',
    'weather-rain.svg',
    'weather-sunny.svg',
    'weather-thunder.svg',
    'weather.svg'
  ]