doctype html
html(lang='en')
	include svg.pug

	meta(charset="UTF-8")
	-
	each key in meta
		each content, handle in key
			meta(name= handle, content= content)

	title Visual Icons
	base(href='/')
	-
	each key in link
		each content, handle in key
			link(rel= handle, href= content)

	body(data-theme='default')
		nav
			ul
				li.logo VISUAL#[em ICONS] #[span]
				li.ver 1.0
				li.social
					ul.license
						li #[a(href='', title='Licensed by Creative Commons 3.0') CC-3.0]
					ul.github
						li #[a(href='', title='Tweet this project') .Tweet]
						li #[a(href='', title='Keep the project alive by donating') .Donate]
						li #[a(href='', title='Star this project on GitHub for awareness') .Star]
				li.dl
					a(href='', title='Github → Download') #[svg(data-url='assets/svg/misc/download.svg')]

		section.project
			h1.desc #[em Tasty SVG] Icons #[em for] #[br] Web Developers #[em &] UI
			ul
				li.features MIXED . CATEGORIZED . COMPRESSED
				li.format
					ul
						li.svg SVG
						li.ai AI
						li.eps EPS
						li.pdf PDF

		section.preview
			ul
				-
				each val in allSvg
					li
						svg(data-url='assets/svg/'+val)
						em #{val.split('\\').pop().split('/').pop().slice(0, -4)}

		script(type='module').
			import { svgLoader as svg } from './main.min.js';
			// initiate svg module
			svg.init();