-
  var meta = [
    {author: 'Bolarinwa Olakunle'},
    {rating: 'General'},
    {description: 'Tasty and visual icons free for developers and UI'},
    {copyright: 'Joberror, ©️ 2020'},
    {viewport: 'width=device-width, initial-scale=1.0'},
    {'theme-color': '#141414'},
    {'msapplication-navbutton-color': '#141414'},
    {'apple-mobile-web-app-capable': 'yes'},
    {'apple-mobile-web-app-status-bar-style': 'black-translucent'}
  ];

  var link = [
    {'dns-prefetch': '//fonts.googleapis.com'},
    {'dns-prefetch': '//storage.googleapis.com'},
    {preconnect: '//fonts.googleapis.com"'},
    {'preconnect': '//storage.googleapis.com'},
    {stylesheet: 'https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Overpass+Mono:wght@300;400;600;700&display=swap'},
    {stylesheet: 'main.min.css'}
  ];
