doctype html
html(lang='en')
	include svg.pug

	meta(charset="UTF-8")
	-
	each key in meta
		each content, handle in key
			meta(name= handle, content= content)

	title Visual Icons
	base(href='/')
	-
	each key in link
		each content, handle in key
			link(rel= handle, href= content)

	body(data-theme='default')
		nav
			ul
				li.logo VISUAL#[em ICONS] #[span]
				li.ver 1.0
				li.dl
					a(href='', title='Github → Download') Download

		section.project
			h1.desc #[em UI] & #[em UX] icons - free, compressed and categorized.

		section.preview
			div
				ul.details
					li.total #{allTotal[13]} #[br] #[em ICONS]
					li.name #{allDir[13]} #[br] pack
				ul.icons
					-
					each val in allSvg[13]
						li
							span
								svg(data-url='svg/'+val)
							em #{val.split('\\').pop().split('/').pop().slice(0, -4)}

		script(type='module').
			import { svgLoader as svg } from './scripts/main.min.js';
			// initiate svg module
			svg.init();
