extends layout.pug

block content
	section.desc
		h1 Simply curated and free visual icons for #[em UI] & #[em UX]

	section.preview
		div
			ul.icons
				-
				each svg in svgSample[0]
					li
						span
							svg(data-url='./svg/'+svg)
						em #{svg.split('\\').pop().split('/').pop().slice(0, -4)}
			p
				a(href='/viewer', title='View all icons').view-link View all
				span /
				a(href='/features', title='Features, todo and updates').info-link features

block variables
	- var title = "Visual Icons"
	- var css_file_name = "home.css"