block variables

doctype html
html(lang='en')
	head
		include svg.pug
		meta(charset="UTF-8")
		-
		each key in meta
			each content, handle in key
				meta(name= handle, content= content)

		base(href='/')
		-
		each key in link
			each content, handle in key
				link(rel= handle, href= content)

		title #{title}

		if css_file_name
			link(rel='stylesheet', href='/styles/' + css_file_name)

	body(data-theme='default')
		nav
			ul
				li
					a(href='/', title='Homepage',).logo VISUAL#[em ICONS] #[span]
				li.ver 1.0
				li.theme
					a(href='', title='Switch Light or Dark theme', data-state='1').theme-btn
						span
							svg(data-url='./svg-ui/themer.svg')
				li.dl
					a(href='', title='Github → Download').btn-link Get it

		section.content
			block content

		ul.footer
			li.social
				ul.license
					li #[a(href='', title='License → Creative Commons 3.0') CC-3.0]
				ul.github
					li #[a(href='', title='Tweet → spread the word') .tweet]
					li #[a(href='', title='Donate → keep project alive') .donate]
					li #[a(href='', title='Github → project page ') .github]
			li.dev made with #[span #[svg(data-url='./svg-ui/love.svg')]] by #[a(href='', title='Info → developer profile') i.am.joberror]

		block importScripts

		script(type='module').
			import { explr as explorer } from './scripts/main.js';
			// initiate all module
			explorer.init();

		block scripts