block variables

doctype html
html(lang='en')
	include svg.pug
	title #{title}
	meta(charset="UTF-8")
	-
	each key in meta
		each content, handle in key
			meta(name= handle, content= content)

	base(href='/')
	-
	each key in link
		each content, handle in key
			link(rel= handle, href= content)

	link(rel='stylesheet', href='/styles/' + css_file_name)

	body(data-theme='default')
		nav
			ul
				li.logo VISUAL#[em ICONS] #[span]
				li.ver 1.0
				li.dl
					a(href='', title='Github → Download').btn-link Download

		block content

		ul.footer
			li.social
				ul.license
					li #[a(href='', title='Licensed by Creative Commons 3.0') CC-3.0]
				ul.github
					li #[a(href='', title='Tweet this project') .tweet]
					li #[a(href='', title='Keep the project alive by donating') .donate]
					li #[a(href='', title='Star this project on GitHub for awareness') .github]
			li.dev made with #[span #[svg(data-url='./love.svg')]] by #[a(href='', title='Developer website') joberror]

		script(type='module').
			import { svgLoader as svg } from './scripts/main.min.js';
			// initiate svg module
			svg.init();

		block scripts