-
  var meta = [
    {author: 'Bolarinwa Olakunle'},
    {rating: 'General'},
    {description: 'Visual and simple icons for developers'},
    {copyright: 'Joberror, ©️ 2020'},
    {viewport: 'width=device-width, initial-scale=1.0'},
    {'theme-color': '#ffffff'},
    {'msapplication-navbutton-color': '#141414'},
    {'apple-mobile-web-app-capable': 'yes'},
    {'apple-mobile-web-app-status-bar-style': 'black-translucent'}
  ];

  var link = [
    {icon: '/favicon.svg'},
    {'mask-icon': '/mask-icon.svg'},
    {'apple-touch-icon': '/apple-touch-icon.png'},
    {manifest: '/scripts/manifest.json'},
    {'dns-prefetch': '//fonts.googleapis.com'},
    {'dns-prefetch': '//storage.googleapis.com'},
    {preconnect: '//fonts.googleapis.com"'},
    {preconnect: '//storage.googleapis.com'},
    {stylesheet: 'https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Overpass+Mono:wght@300;400;600;700&display=swap'},
    {stylesheet: '/styles/main.css'}
  ];
