extends layout.pug

prepend content
	.panel-header
		h4 EXPLORER
		hr
		.color-config color:
			span
				em(data-jscolor="{valueElement: '#colorVal'}")
				input(id='colorVal')
		hr
		.stroke-config
			label(for="str-width") weight:
			input(type="range", min="0.8", max="1.4", id="str_width", step="0.1", value="1")
			output 1.0

	.viewer(id="viewer")
		-
		each name, index in catName
			div(id="cat-" + name)
				ul.svg-info
					li.cat-name= name
					li.cat-split -
					li.cat-no= catTotal[index]

				ul.svgs
					each svg in catSvg[index]
						li
							span #[svg(data-url="/svgs/" + svg)]
							em= svg.split('\\').pop().split('/').pop().slice(0, -4)


block variables
	- var title = "Visual Icons: viewer"
	- var css_file_name = "viewer.css"

block importScripts
	script(src='./scripts/jscolor.min.js')

block scripts
	script(src='./scripts/viewer.js')


