// Imports
@import "../../../node_modules/sass-mq/mq";
@import "reset";
@import "mixins";

// Sass Variables
// Breakpoints
$mq-breakpoints: (
  "phone": 480px,
  "tablet": 768px,
  "desktop": 1300px,
  "wide": 1600px,
);

// Define customs
:root,
[data-theme="default"] {
  // Variables - Font
  --font-family: "DM Mono", monospace;
  --font-family-head: "Overpass mono", sans-serif;
  --font-size: 1.6rem;
  --line-height: 1;

  // Variables - Colors
  // background
  --color-bg: #{gray(5)};
  // customs
  --color-contrast-high: hsla(0, 0%, 89%, 0.322);
  --color-contrast-higher: white;
  --color-pink-contrast: hsl(352, 82%, 91%);
  // svg
  --color-svg-fill: hsla(0, 0%, 100%, 0.973);
  // download
  --color-dl: hsl(153, 68%, 42%);
  --color-dl-svg: white;

  // Defaults
  position: relative;
}

// Default - theme
[data-theme] {
  color: var(--color-contrast-higher);
  background-color: var(--color-bg);
}

// Theme - Light
[data-theme="light"] {
  --color-bg: white;
  --color-contrast-high: hsl(240, 4%, 20%);
  --color-contrast-higher: black;
  --color-pink-contrast: hsl(352, 93%, 63%);
  --color-svg-fill: #{gray(10)};
}
// Button
.btn-link {
  @extend %btn-mixin;
}
// Scrollbar
@include scrollbar(var(--color-bg), gray(10), 0, 1px);

// Theme
body {
  margin: 2vh 4vw;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-rendering: optimizeLegibility;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    ul {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      align-items: baseline;
      display: flex;
      font-family: var(--font-family-head);
      font-size: x-large;
      font-weight: 600;
      color: gray(40);
      flex-direction: column;

      em {
        color: gray(60);
      }

      span {
        width: 8px;
        height: 8px;
        margin-left: -10px;
        background-color: gray(60);
      }
    }

    .ver {
      display: inline-block;
      padding: 2px 4px;
      margin-right: auto;
      margin-left: 10px;
      font-size: small;
      font-weight: 500;
      line-height: 1;
      color: white;
      background-color: var(--color-dl);
      border-radius: 2px;
      align-self: flex-start;
    }
  }

  .footer {
    display: flex;
    vertical-align: middle;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .social {
      display: flex;

      ul {
        margin-right: 20px;
      }

      a {
        transition: 500ms linear;

        &:hover {
          transition: 500ms linear;
        }
      }

      .license {
        a {
          display: inline-block;
          padding: 2px 4px;
          font-weight: 500;
          color: var(--color-bg);
          background-color: var(--color-contrast-higher);
          border-radius: 2px;

          &:hover {
            color: var(--color-contrast-higher);
            background-color: var(--color-bg);
          }
        }
      }

      .github {
        display: flex;

        li {
          margin-left: 10px;
        }

        a {
          color: var(--color-contrast-higher);

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }

    .dev {
      color: #{gray(60)};

      span {
        display: inline-block;
        width: 16px;
        height: 16px;
      }

      svg path {
        fill: rgb(255, 121, 121);
        transform: rotate(5deg);
      }

      a {
        color: rgb(26, 112, 212);
      }
    }
  }
}
