// Sass Variables
// Breakpoints

@use '../../../node_modules/sass-mq/mq';

// Imports
@import "reset";
@import "mixins";


// Define customs
:root,
[data-theme="default"] {
  // Variables - Font
  --font-family: "DM Mono", monospace;
  --font-family-head: "Overpass mono", sans-serif;
  --font-size: 1.6rem;
  --line-height: 1;

  // Variables - Colors
  // background
  --color-bg: hsl(255, 11%, 7%);
  // customs
  --color-contrast-high: hsla(0, 0%, 89%, 0.322);
  --color-contrast-higher: white;
  --color-pink-contrast: hsl(352, 82%, 91%);

  // forms
  --color-sel-opt: var(--color-bg);
  // button
  --color-theme-def: hsl(212, 78%, 47%);

  --color-svg-link-hover: hsla(255, 11%, 15%, 0.729);
  --color-svg-title: hsl(258, 7%, 26%);

  // Theme switch
  --color-switch-hover: hsl(255, 11%, 7%);

  // invert
  --i-color-contrast-higher: black;

  // Defaults
  position: relative;
}

// Default - theme
[data-theme] {
  color: var(--color-contrast-higher);
  background-color: var(--color-bg);

  // svg
  --color-svg-fill: hsla(0, 0%, 100%, 0.973);
  // download
  --color-dl-bg: hsl(147, 100%, 19%);
  --color-dl-bg-hover: hsl(148, 100%, 9%);
  // twitter
  --color-twt-bg: hsl(199, 59%, 43%);
  // donate
  --color-donate-bg: rgb(199, 84, 55);
  // theme
  --color-theme-bg: hsl(0, 0%, 9%);
  --color-theme-bg-hover: hsl(0, 0%, 6%);
  --theme-content: "Dark";
  --theme-svg-fill: var(--color-contrast-higher);
  --theme-svg-stroke: none;
}

// Theme - Light
[data-theme="light"] {
  --color-bg: white;
  --color-contrast-high: hsl(240, 4%, 20%);
  --color-contrast-higher: black;
  --color-pink-contrast: hsl(352, 93%, 63%);
  --color-svg-fill: #{gray(10)};

  // forms
  --color-sel-opt: var(--color-bg);

  // theme
  --theme-svg-fill: none;
  --theme-svg-stroke: var(--color-contrast-higher);

  // invert
  --i-color-contrast-higher: white;

  // Theme switch
  --theme-content: "Light";

  --color-svg-link-hover: hsla(189, 32%, 50%, 0.11);

}
// Button
.btn-link {
  @extend %btn-mixin;

  color: white;
  align-items: center;
  border-bottom: 2px solid;

  span {
    display: inline-block;

    &.icon {
      width: 18px;
      height: 18px;

      svg {
        width: 100%;
        height: 100%;

        path, circle, ellipse{
          fill: none;
          stroke: var(--color-contrast-higher);
          stroke-width: 1.6pt;
        }
      }
    }

    &.mini-det {
      margin-left: 14px;
      text-align: center;
      color: var(--color-contrast-higher);

      em {
        display: inline-block;
        margin-top: 2px;
        font-size: 1.4rem;
      }
    }
  }

  &.git {
    border-bottom-color: var(--color-dl-bg);

    &:hover {
      background: var(--color-dl-bg);
    }
  }

  &.dn {
    border-bottom-color: var(--color-donate-bg);

    &:hover {
      background: var(--color-donate-bg);
    }
  }

  &.twt {
    border-bottom-color: var(--color-twt-bg);

    &:hover {
      background: var(--color-twt-bg);
    }
  }

  &.theme {
    padding: 2px 6px;
    font-weight: 500;
    align-items: center;
    border: 2px solid var(--color-contrast-higher);
    border-radius: 4px;

    &:hover {
      //background: var(--color-theme-bg-hover);
    }

    span.icon svg {
      path {
        fill: var(--theme-svg-fill);
        stroke: var(--theme-svg-stroke);
      }
    }

    span.mini-det em::before{
      content: var(--theme-content);
    }
  }

  @include mq.mq($until: tablet) {
    span {
      &.mini-det {
        display: none;
      }
    }
  }
}
// Scrollbar
@include scrollbar(var(--color-bg), #{gray(10)}, 0, 1px);

// Theme
body {
  display: flex;
  margin: 0 40px;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  flex-direction: column;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;

  &.transition,
  &.transition *,
  &.transition *:before,
  &.transition *:after {
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms!important;
    transition-delay: 0!important;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    ul {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      margin-top: 6px;
      align-items: baseline;
      display: flex;
      font-size: 2.4rem;
      font-weight: 600;
      color: gray(40);
      flex-direction: column;

      em {
        color: gray(60);
      }

      span {
        width: 8px;
        height: 8px;
        margin-left: -10px;
        background-color: gray(60);
      }
    }

    .ver {
      margin-top: 6px;
      display: inline-block;
      padding: 2px 4px;
      margin-right: auto;
      margin-left: 10px;
      font-size: small;
      font-weight: 500;
      line-height: 1;
      color: white;
      background-color: var(--color-dl-bg);
      border-radius: 2px;
      align-self: flex-start;
    }
  }

  .content {
    margin-top: 4vh;
    flex: 1 0 auto;
  }

  .footer {
    display: flex;
    padding-bottom: 40px;
    vertical-align: middle;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .license {
      a {
        display: inline-block;
        padding: 4px;
        font-weight: 500;
        color: var(--color-bg);
        background-color: var(--color-contrast-higher);
        border-radius: 2px;

        &:hover {
          color: var(--color-contrast-higher);
          background-color: var(--color-bg);
        }
      }
    }

    .theme {
      margin-left: 6px;
      margin-right: auto;
    }

    .dev {
      color: #{gray(60)};

      span {
        display: inline-block;
        width: 16px;
        height: 16px;
      }

      svg path {
        fill: rgb(255, 121, 121);
        transform: rotate(5deg);
      }

      a {
        color: var(--color-theme-def);
      }
    }

    @include mq.mq($until: tablet) {

      > li {
        margin-top: 18px;
      }

      .dev {
        width: 100%;
      }
    }
  }

  @include mq.mq($until: tablet) {
    margin: 0 16px;
  }
}
