@import "mixins";

$track-w: 8em;
$track-h: 0.1em;

$thumb-w: 0.2em;
$thumb-h: 0.6em;

$h-diff: ($thumb-h - $track-h)/2;

@mixin track() {
  width: $track-w;
  height: $track-h;
  box-sizing: border-box;
//  border: solid 1px #291f23;
  border-radius: $track-h/2;
}

@mixin thumb() {
  width: $thumb-w;
  height: $thumb-h;
  box-sizing: border-box;
  background: var(--color-contrast-higher);
  //border: solid 1px #1d1d1d;
  border-radius: 0;
}

:root,
[data-theme="default"] {
  --color-svg-hover: hsl(0, 0%, 7%);
}

// Theme - Light
[data-theme="light"] {
  --color-svg-hover: hsl(0, 0%, 89%);
}

.content {
  display: flex;
  flex-direction: column;

  svg {
    path,
    circle,
    ellipse,
    line,
    rect,
    polyline,
    polygon {
      fill: none;
      stroke: var(--color-contrast-higher);
      stroke-width: 0.8;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
  }

  .home-panel {
    display: none;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-weight: bold;
      letter-spacing: 0.4rem;
    }

    p {
      margin-top: 10px;
      font-size: 1.8rem;
      color: gray(50);
    }
  }

  .svg-cat {
    display: grid;
    margin-top: 8vh;
    justify-content: center;
    grid-template-columns: repeat(5, 164px);
    gap: 3vw;

    .cat-name {
      text-transform: uppercase;

      &::after {
        position: absolute;
        bottom: -4px;
        display: block;
        width: 0;
        height: 1px;
        content: "";
        background-color: var(--color-contrast-higher);
        transition: 0.5s linear;
      }
    }

    cat-no {
      font-family: var(--font-family-head);
    }

    a {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 10px 10px 0;
      color: gray(24);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: var(--color-svg-hover);
      transition: 0.5s linear;

      &:hover {
        color: var(--color-contrast-higher);
        background: var(--color-theme-def);
        border-radius: 8px;
        transition: 0.5s linear;

        .cat-name::after {
          width: 100%;
          transform: 0.5s linear;
        }
      }
    }

    svg {
      width: 102px;
      margin: 14px 0;
    }

    ul {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 10px 0;

      li {
        position: relative;
      }
    }
  }

  .panel-section {
    // display: none;
  }

  .panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    hr {
      display: inline-block;
      flex: 1;
      height: 0;
      margin: 0 1vw;
      vertical-align: middle;
      border: 0;
      border-bottom: 1px solid gray(30);
    }

    h4 {
      font-weight: bold;
      letter-spacing: 0.4rem;
    }

    label,
    .color-config {
      color: gray(30);
      text-transform: uppercase;
      letter-spacing: 0.4rem;
    }

    .color-config {
      span {
        display: inline-flex;
        width: 24px;
        height: 8px;
        padding: 4px;
        border: 1px solid gray(30);
        border-radius: 2px;

        em {
          display: inline-flex;
          width: 100%;
          height: 100%;
          cursor: crosshair;
          background-color: var(--color-contrast-higher);
        }
      }
    }

    .stroke-config {
      display: flex;
      flex-direction: row;

      label {
        margin-right: 10px;
      }

      output {
        display: inline-block;
        padding: 0 6px;
        margin-left: 10px;
        font-size: 1.4rem;
        //font-weight: bold;
        border: 1px solid gray(30);
        border-radius: 2px;
      }

      input {
        &,
        &::-webkit-slider-runnable-track,
        &::-webkit-slider-thumb {
          appearance: none;
        }

        width: 30vw;
        padding: 0;
        margin-left: -10px;
        font-size: 1em;
        color: gray(30);
        cursor: grabbing;
        background: none;
        border: solid 0 transparent;
        border-width: 0.25em $h-diff;
        border-radius: 0.25em;

        &::-webkit-slider-runnable-track {
          @include track();
          background: linear-gradient(gray(30), gray(35));
        }

        &::-moz-range-track {
          @include track();
          background: linear-gradient(gray(30), gray(35));
        }

        &::-ms-track {
          @include track();
          color: transparent;
          background: linear-gradient(gray(30), gray(35));
        }

        &::-webkit-slider-thumb {
          margin-top: -$h-diff;
          @include thumb();
        }

        &::-moz-range-thumb {
          @include thumb();
        }

        &::-ms-thumb {
          @include thumb();
        }

        &::-ms-fill-lower,
        &::-ms-tooltip {
          display: none;
        }
      }
    }
  }

  .panel {
    display: flex;
    margin-top: 4vh;
    flex-direction: row;

    .navigator {
      h4 {
        text-transform: uppercase;
        letter-spacing: 0.4rem;

        span {
          display: inline-block;
          font-size: 1.8rem;
          vertical-align: top;
        }
      }

      ul {
        padding-top: 14px;
        margin-top: -2px;
        margin-left: 4px;
        border-left: 1px solid var(--color-contrast-higher);

        li {
          position: relative;
          left: -2px;

          a {
            display: inline-flex;
            padding: 8px 0 8px 24px;
            color: gray(50);
            transition: color 0.5s;

            &:hover,
            &.active {
              color: var(--color-contrast-higher);
              border-left: 3px solid var(--color-link);
              transition: color 0.5s;
            }

            &.active {
              border-left-color: hsl(202, 42%, 59%);
              transition: color 0.5s;
            }
          }
        }
      }

      p {
        margin-top: 4vh;

        span {
          font-size: 4.8rem;
        }
      }
    }

    .viewer {
      display: flex;
      margin-top: 4vh;
      flex-direction: column;
      flex-grow: 1;

      div {
        display: none;
        margin-bottom: 4vh;
        flex-direction: column;
        align-items: center;

        ul {
          display: grid;
          width: 80%;
          margin-bottom: 48px;
          grid-template-columns: repeat(auto-fill, minmax(96px, 1fr));
          gap: 4vw;
        }

        li {
          text-align: center;
        }

        span {
          display: flex;
          width: 36px;
          height: 36px;
          margin: 0 auto 40px;
        }

        svg {
          width: 100%;
          height: 100%;
        }

        em {
          font-size: 1.2rem;
          color: hsl(0, 0%, 14%);
        }
      }

      #cat-browser {
        display: flex;
      }
    }
  }
}
