// Sass Variables
// Breakpoints

@use '../../../node_modules/sass-mq/mq';
@import "mixins";

$track-w: 8em;
$track-h: 0.1em;

$thumb-w: 0.2em;
$thumb-h: 0.6em;

$h-diff: ($thumb-h - $track-h)/2;

@mixin track() {
  width: $track-w;
  height: $track-h;
  box-sizing: border-box;
//  border: solid 1px #291f23;
  border-radius: $track-h/2;
}

@mixin thumb() {
  width: $thumb-w;
  height: $thumb-h;
  box-sizing: border-box;
  background: var(--color-contrast-higher);
  //border: solid 1px #1d1d1d;
  border-radius: 0;
}

:root,
[data-theme="default"] {
  --color-svg-hover: hsl(0, 0%, 7%);
}

// Theme - Light
[data-theme="light"] {
  --color-svg-hover: hsl(0, 0%, 89%);
}

.content {
  display: flex;
  flex-direction: column;

  svg {
    path,
    circle,
    ellipse,
    line,
    rect,
    polyline,
    polygon {
      fill: none;
      stroke: var(--color-contrast-higher);
      stroke-width: 1;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      transition: 0.5s linear;
    }
  }

  .panel-header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    padding: 40px 0;
    flex-direction: row;
    background-color: var(--color-bg);
    align-items: center;
    justify-content: space-between;

    hr {
      width: 24vw;
      display: inline-block;
      flex: 1;
      height: 0;
      margin: 0 1vw;
      vertical-align: middle;
      border: 0;
      border-bottom: 1px solid gray(30);
    }

    h4 {
      font-weight: bold;
      letter-spacing: 0.4rem;
    }

    label,
    .color-config,
    a {
      font-weight: 500;
      color: hsl(0, 0%, 54%);
      text-transform: uppercase;
      letter-spacing: 0.4rem;
    }

    div {
      padding: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .color-config {
      span {
        display: inline-flex;
        width: 30px;
        height: 10px;
        margin-left: 8px;
        padding: 4px;
        border: 1px solid gray(30);
        border-radius: 2px;

        em {
          display: inline-flex;
          width: 100%;
          height: 100%;
          cursor: crosshair;
          background-color: var(--color-contrast-higher);
        }

        input {
          display: none;
        }
      }
    }

    .stroke-config {
      display: flex;
      flex-direction: row;
      align-items: center;

      label {
        margin-right: 10px;
      }

      .output {
        display: inline-flex;
        padding: 2px 6px;
        margin-left: 10px;
        font-size: 1.4rem;
        //font-weight: bold;
        border: 1px solid gray(30);
        border-radius: 2px;
      }

      input {
        &,
        &::-webkit-slider-runnable-track,
        &::-webkit-slider-thumb {
          appearance: none;
        }

        width: 24vw;
        padding: 0;
        margin-left: -10px;
        font-size: 1em;
        color: gray(30);
        cursor: grabbing;
        background: none;
        border: solid 0 transparent;
        border-width: 0.25em $h-diff;
        border-radius: 0.25em;

        &::-webkit-slider-runnable-track {
          @include track();
          background: linear-gradient(gray(30), gray(35));
        }

        &::-moz-range-track {
          @include track();
          background: linear-gradient(gray(30), gray(35));
        }

        &::-ms-track {
          @include track();
          color: transparent;
          background: linear-gradient(gray(30), gray(35));
        }

        &::-webkit-slider-thumb {
          margin-top: -$h-diff;
          @include thumb();
        }

        &::-moz-range-thumb {
          @include thumb();
        }

        &::-ms-thumb {
          @include thumb();
        }

        &::-ms-fill-lower,
        &::-ms-tooltip {
          display: none;
        }
      }
    }

    @include mq.mq($until: tablet) {
      flex-direction: column;
      align-items: start;
      padding: 22px 0;

      h4 {
        margin-bottom: 1vh
      }

      div {
        margin-top: 2vh;
        width: 100%;
      }

      hr,
      .stroke-config input {
        width: 47vw;
      }
    }
  }

  .viewer {
    display: flex;
    flex-direction: column;

    > div {
      display: flex;
      margin-bottom: 6vh;
      flex-direction: column;
      // border-bottom: 1px solid gray(20);
    }

    .svg-info {
      position: sticky;
      top: 98px;
      z-index: 0;
      display: flex;
      padding: 24px 0 48px;
      justify-content: left;
      background: var(--color-bg);

      .cat-split {
        margin: 0 4vh;
        font-size: 1.4rem;
        color: gray(50);
      }

      .cat-name,
      .cat-no {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
      }
    }

    .svgs {
      display: grid;
      margin-bottom: 48px;
      flex-direction: column;
      grid-template-columns: repeat(auto-fill, minmax(96px, 1fr));
      gap: 4vw;

      li {
        text-align: center;
      }

      span {
        display: flex;
        width: 48px;
        height: 48px;
        margin: 0 auto 40px;
      }

      svg {
        width: 100%;
        height: 100%;
      }

      em {
        font-size: 1.2rem;
        font-weight: 500;
        color: hsl(258, 7%, 26%);
        text-transform: capitalize;
      }
    }

    @include mq.mq($until: tablet) {
      .svg-info {
        top: 150px;
        justify-content: center;
      }

      .svgs span {
        width: 32px;
        height: 32px;
      }

      li {
        margin-bottom: 40px;
      }
    }
  }
}
